{% extends 'users/base.html' %}

{% block title %}Appointments for Dr. {{ doctor.name }}{% endblock %}

{% block header %}
<header>
    <nav>
        {% if user_type == 'doctor' %}
            <a href="{% url 'show_appointments' user_type=user_type user_id=user_id %}">View Appointments</a>
            <a href="{% url 'list_patients' %}">View All Patients</a> <!-- Link to view patients -->
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
</header>
{% endblock %}

{% block content %}
    <h1>Appointments</h1>
    
    <ul class="appointments-list">
        {% for appointment in appointments %}
            <li class="appointment-item">
                <strong>Patient:</strong> {{ appointment.patient.name }}<br>
                <strong>Scheduled At:</strong> {{ appointment.scheduled_at }}<br>
                <a href="{% url 'patient_records' patient_id=appointment.patient.id doctor_id=appointment.doctor.id scheduled_at=appointment.scheduled_at.timestamp|floatformat:0 %}" class="btn btn-link">
                    View Medical Records
                </a>
            </li>
        {% empty %}
            <li class="no-appointments">No appointments found.</li>
        {% endfor %}
    </ul>
    {% if request.user.is_superuser %}
    <a href="{% url 'index' %}" class="btn">Back to home</a>
    {% else %}
    <a href="{% url 'logout' %}" class="btn">Logout</a>
    {% endif %}
{% endblock %}
