{% extends 'users/base.html' %}

{% block title %}Appointments for Dr. {{ doctor.name }}{% endblock %}

{% block content %}
    <h1>Appointments for Dr. {{ doctor.name }}</h1>
    
    <ul class="appointments-list">
        {% for appointment in appointments %}
            <li class="appointment-item">
                <strong>Patient:</strong> {{ appointment.patient.name }}<br>
                <strong>Scheduled At:</strong> {{ appointment.scheduled_at }}<br>
                <a href="{% url 'patient_records' user_type=user_type patient_id=appointment.patient.id doctor_id=appointment.doctor.id %}" class="btn btn-link">
                    View Medical Records
                </a>
            </li>
        {% empty %}
            <li class="no-appointments">No appointments found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'logout' %}" class="btn">Logout</a>
{% endblock %}
