{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/medical_records.css' %}">
    <title>Edit Medical Record</title>
</head>
<body>
    {% if user_type == 'patient' %}
    <h2>You cannot add medical records</h2>
    {% else %}
    <h1>Edit Medical Record</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% endif %}
    <a href="{% url 'patient_records' patient_id=record.patient.id doctor_id=record.doctor.id %}">Back to Patient Records</a>
</body>
</html>
